[submodule "piksi_tools/testing/gdb_chibios"]
	path = piksi_tools/testing/gdb_chibios
	url = https://github.com/gsmcmullin/gdb_chibios.git
[submodule "vendor/chaco"]
	path = vendor/chaco
	url = https://github.com/swift-nav/chaco.git
	branch = swift-2019.01
[submodule "vendor/enable"]
	path = vendor/enable
	url = https://github.com/swift-nav/enable.git
	branch = swift-2019.01
[submodule "vendor/traitsui"]
	path = vendor/traitsui
	url = https://github.com/swift-nav/traitsui.git
	branch = swift-2019.01
[submodule "vendor/pyface"]
	path = vendor/pyface
	url = https://github.com/enthought/pyface.git
[submodule "vendor/traits"]
	path = vendor/traits
	url = https://github.com/enthought/traits.git
[submodule "vendor/libsbp"]
	path = vendor/libsbp
	url = https://github.com/swift-nav/libsbp.git
	branch = silverjam/py3
