dist: xenial
sudo: required

git:
  depth: false

cache:
  directories:
  - $HOME/.cache/pip/
  - $HOME/Library/Caches/Homebrew/
  - $HOME/Library/Caches/pip

matrix:
  include:
   - os: linux
     language: generic
     env: TESTENV=test_gui TOXENV=gui36
     before_install:
       - sudo add-apt-repository -y ppa:fkrull/deadsnakes
       - sudo apt-get -qq update
       - sudo apt-get install -y swig python3.6 python3.6-dev
       - sudo apt-get install -y mesa-common-dev libglu1-mesa-dev
       - sudo apt-get install -y libqt4-opengl libqt4-opengl-dev
       - sudo pip install --upgrade pip
       - sudo pip install tox
     before_script:
       - export DISPLAY=:0.0
       - Xvfb ${DISPLAY} -screen 0 800x600x16 & PID=$!
       - sleep 3  # give xvfb some time to start
     script: tox -vv

   - os: linux
     language: python
     env: TESTENV=build_console
     python: 3.6
     addons:
       apt:
         packages:
           - docker-ce
     before_install:
       - make deps
       - pip install -r requirements_dev.txt
     script: make build_console

   - os: osx
     osx_image: xcode9.4
     language: generic
     env: TESTENV=mac TOXENV=py36,py37,gui36
     before_install:
       - export PATH="/Users/travis/miniconda3/bin:$PATH"
       - make deps
     script:
       - export PATH="/Users/travis/miniconda3/bin:$PATH"
       - make tox VERBOSE=y
       - make build_console

   - os: linux
     language: python
     python: 3.6
     env: TESTENV=flake8
     before_install: pip install -r requirements_dev.txt
     script: tox -vv -e flake8

env:
  global:
    - AWS_DEFAULT_REGION=us-west-2
    # AWS_SECRET_ACCESS_KEY
    - secure: "TP5JdeWZbevii1kmb60llTYwdXW3Pwsz5a34qescoQmx1jTKMOXDO76aJsWiVaw0+alftU6kNzUdHSwiN81Y3fd+vh21hnzA8spSwq2pX5YaDpFvg+Ru1vwS+27dbvD6PDcL1bMWdMJp+9fl0xClYNL/L5zO2y5gk/IxozqtxaU="
    # AWS_ACCSS_KEY_ID
    - secure: "V/CLL/mc+Az9s090nR4wXxWkCGIXwNgB04trBTTxoToRQFBaM4aY3nvOzE7ap7l3wLJS80TnmxwJg7DqBdMWJ1Yyy30MNhClUgMgIazPwLjA6y/effojl6HFnwGBq8Pwmh4H7YdRluCCr/oeTpvnwgoFDS+Uw1t682RpBb1NQrE="

notifications:
  email: false
  slack:
    secure: c/HX84/BjWHU/8LmtES2fh7lFiXwXnRJnwjCYjLw85M/Po2PYkGRkwk+o5BTX2cei9+QkXGxLcyCYZtMbRU0nN2S6t5Va7WaZulmFtqgnjn4eTxtdctk0Gk5nDB8qUuruxo8F5qki6z86UtRQzr0Ms52GZbUhLPsJTCsXZRyvk0=
