dist: xenial
sudo: required

git:
  depth: false

cache:
  directories:
  - $HOME/.cache/pip/
  - $HOME/Library/Caches/Homebrew/
  - $HOME/Library/Caches/pip

matrix:
  include:
   - os: linux
     language: generic
     env: TESTENV=test_cli TOXENV=py27,py35,py37
     before_install:
        # a ppa is needed for python 3.7 under xenial
        - sudo add-apt-repository -y ppa:deadsnakes/ppa
        - sudo apt-get -qq update
        - sudo apt-get install python2.7 python2.7-dev
        - sudo apt-get install python3.5 python3.5-dev
        - sudo apt-get install python3.7 python3.7-dev
        - sudo pip install tox
     script: tox -v

   - os: linux
     language: generic
     env: TESTENV=test_gui TOXENV=gui27,gui35
     before_install:
        - sudo apt-get -qq update
        - sudo apt-get install -y swig python2.7 python2.7-dev python3.5 python3.5-dev
        - sudo apt-get install -y mesa-common-dev libglu1-mesa-dev
        - sudo apt-get install -y libqt4-opengl libqt4-opengl-dev
        - sudo pip install tox
     before_script:
        - export DISPLAY=:0.0
        - Xvfb ${DISPLAY} -screen 0 800x600x16 & PID=$!
        - sleep 3  # give xvfb some time to start
     script: tox -v

   - os: linux
     language: python
     python: 3.5
     env: TESTENV=build_console
     before_install: make deps
     script: make build_console

   - os: osx
     osx_image: Xcode 8.3.3
     language: generic
     before_install:
        - export PATH="/home/travis/miniconda3/bin:$PATH"
        - make deps
     script:
        - export PATH="/home/travis/miniconda3/bin:$PATH"
        - make tox VERBOSE=y
        - make build_console

   - os: linux
     language: python
     python: 3.5
     env: TESTENV=flake8
     script: tox -vv -e flake8

addons:
  artifacts:
    debug: false 
    paths:
      - $(ls ./dist/swift_console* | tr "\n" ":")
      - $(ls ./dist/cmd_line | tr "\n" ":")
    working_dir: $TRAVIS_BUILD_DIR
    bucket: console-ci-builds
    s3_region: us-west-2
notifications:
  email: false
  slack:
    secure: c/HX84/BjWHU/8LmtES2fh7lFiXwXnRJnwjCYjLw85M/Po2PYkGRkwk+o5BTX2cei9+QkXGxLcyCYZtMbRU0nN2S6t5Va7WaZulmFtqgnjn4eTxtdctk0Gk5nDB8qUuruxo8F5qki6z86UtRQzr0Ms52GZbUhLPsJTCsXZRyvk0=
