include *.cfg
include *.md
include *.rst
include *.py
include *.sh
include *.txt
include .coveragerc
include .gitignore
include LICENSE
include tox.ini
include *.yaml
recursive-include piksi_tools/ *.py
recursive-include piksi_tools/console/images *
prune docs/_build
