# several fixes ahead of enable & chaco v. 4.7.2. TODO: update to 4.7.3 when released
enable==4.8.0
git+git://github.com/enthought/chaco@047714a9e107ce5d7425a3751d53c4a711ba57f4#egg=chaco
traits==4.6.0 
traitsui==6.0.0
pyface==6.0.0
