numpy==1.16.2
configparser
future==0.17.1
futures==3.1.1
pep8==1.7.0
pyserial==3.0.1
pylibftdi==0.16.1.2
pyparsing==2.2.0
pygments==2.2.0
requests==2.20.0
six==1.10.0
sbp==2.5.3
ruamel.yaml==0.15.87
setuptools_scm==3.1.0
enum34==1.1.6
libsettings==0.1.11
