numpy==1.13.1
cython==0.26
pytest==3.2.1
configparser
tox==2.7.0
futures==3.1.1
pep8==1.7.0
pyserial==3.0.1
pylibftdi==0.16.1.2
pyparsing==2.2.0
pygments==2.2.0
requests==2.18.4
six==1.10.0
sbp==2.3.17
ruamel.yaml==0.15.31
