chaco==4.6.1
enable==4.6.2
traits==4.6.0 
traitsui==5.1.0 
pyface==5.1.0 
wsgiref==0.1.2 
#pyside==1.2.2 
#sip (required but installed through apt / brew)
#qt4 (required but installed through apt / brew)
